/* Start Global */
* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}
body {
  overflow-x: hidden;
}
/* Our Color Pallet */
.bg-main {
  background: #f4f7f9;
}

.border-main-color {
  border-color: #dfe9ec;
}
.bg-cyan-sec {
  background: #00516c;
}
.text-cyan-sec {
  color: #00516c;
}
/* End Global */

/* Start List */
.list__item:hover p {
  color: white;
}
.list__item:hover path {
  fill: white;
}
.list__recommended {
  background: url('../images/recommended.svg') no-repeat center center;
  height: 140px;
}
.list__help {
  height: 100px;
}
.list__recommended,
.list__help {
  width: 250px;
}
/* End List */

/* Start Nab | Tabs */
.active-border {
  position: relative;
}
.active-border::after {
  position: absolute;
  content: '';
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #063847;
}
/* End Nab | Tabs */
