/* Start Global */
* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}
body {
  overflow-x: hidden;
}

/* Our Color Pallet */
.bg-main {
  background: #f4f7f9;
}

.border-main-color {
  border-color: #dfe9ec;
}
.bg-cyan-sec {
  background: #00516c;
}
.text-cyan-sec {
  color: #00516c;
}
.bg-green {
  background-color: #67ae3d;
}
.text-green {
  color: #67ae3d;
}
.bg-btn-status {
  background: #f4f7f9;
}
/* End Global */

/* Start List */
.list__item:hover p {
  color: white;
}
.list__item:hover path {
  fill: white;
}
.list__recommended {
  background: url('../images/recommended.svg') no-repeat center center;
  height: 140px;
}
.list__help {
  height: 100px;
}
.list__recommended,
.list__help {
  width: 250px;
}
/* End List */

/* Start Nab | Tabs */
.active-border {
  position: relative;
}
.active-border::after {
  position: absolute;
  content: '';
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #063847;
}
/* End Nab | Tabs */
/* Start Progressbar */
.progress-wrapper {
  background: #e1dbf0;
  border: solid 1px #e1dbf0;
  border-radius: 10px;
  height: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1) inset;
}

.progress-bar {
  background: #67ae3d;
  height: inherit;
}

.progress-bar-width {
  border-radius: 10px;
  width: 60%;
}

.progress-bar-anim {
  animation: progress 3s linear infinite;
  /* Don't touch this anim bar color*/
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.25) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(255, 255, 255, 0.25) 75%,
    transparent 75%,
    transparent
  );
  /* Don't touch this */
  background-repeat: repeat-x;
  /* The size of the bars must match the background-position in the @keyframes */
  background-size: 1.5em 1.5em;
  border-radius: 10px;
  height: inherit;
  width: 100%;
}

@keyframes progress {
  to {
    background-position: 1.5em 0;
  }
}
/* End Progressbar */
